/* 
Author: Vinay Kumar
github: https://github.com/tech-haxz
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #180026;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 30vw;
    height: 70vh;
    background-color: #c2c2c2;
    border-radius: 10px 10px 20px 20px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.container input{
    background-color: #6f6f6f;
    color: rgb(189, 187, 187);
    width: 100%;
    height: 160px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 4rem;
    text-align: right;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

button{
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete{
    background-color: #a00000;
}

.calculate{
    background-color: #00741f;
}


@media screen and (max-width: 400px) {
    .container{
        width: 90vw;
        height: 50vh;
    }
    
    .buttons{
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }
    
    .container input{
        height: 120px;
        font-size: 1.5rem;
    }
    
    button{
        padding: 15px;
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 600px) {
    .container{
        width: 80vw;
        height: 60vh;
    }
    
    .buttons{
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
    }
    
    .container input{
        height: 140px;
        font-size: 1.8rem;
    }
    
    button{
        padding: 18px;
        font-size: 1.4rem;
    }
    
}
